<nav class="navbar navbar-default">
  <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/services">SDDC</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#/admin/services">Services</a></li>
              <li><a href="#/admin/servicemodules">Servicemodules</a></li>
            </ul>
          </div>
</nav>
<a href="#/admin/services">Back to Overview</a>

<h1>{{service.serviceName}}</h1>

<h2>Module:</h2>
<span ng-repeat="module in service.serviceModules">
<h4>{{module.name}}</h4>
</span>
<br>
<button type="button" class="btn btn-lg btn-primary" ng-click="">Edit Service</button>
