<nav class="navbar navbar-default">
  <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/admin/services">SDDC</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#/admin/services">Services</a></li>
              <li><a href="#/admin/servicemodules">Servicemodules</a></li>
            </ul>
          </div>
</nav>
<h1>Services</h1>


<table class="table">
    <thead>
    <tr>
        <td>
            Name
        </td>
         <td>
            Modules
        </td>
        <td>
           Options
       </td>
    </tr>
    </thead>
    <tr ng-repeat="service in services">
        <td><a href="#/admin/services/{{service.id}}">{{service.serviceName}}</a></td>
        <td>
        <span ng-repeat="module in service.serviceModules">
        {{module.name}},
        </span></td>
        <td>
          <button type="button" class="btn btn-primary" ng-click="cancelService(service)">Delete</button>
          <button type="button" class="btn btn-primary" ng-click="cancelService(service)">Edit</button>
        </td>
    </tr>


</table>
